<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="app.urv.manager.patcher.runtime"
        android:required="false" />

    <application
        android:icon="@drawable/ic_runtime_plugin"
        android:label="ReVanced v21"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_runtime_plugin">
        <meta-data
            android:name="app.urv.manager.patcher.runtime.kind"
            android:value="revanced-v21" />
    </application>
</manifest>

